<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
</head>

<body>
    <div id="pointerAbsorber" class="tw-fixed tw-h-full tw-w-full tw-flex tw-flex-1 tw-items-center tw-justify-center">
      <span class="spinner-grow spinner-grow-sm text-light mx-1" role="status" aria-hidden="true"></span>
      <span class="spinner-grow spinner-grow-sm text-light mx-1" role="status" aria-hidden="true"></span>
      <span class="spinner-grow spinner-grow-sm text-light mx-1" role="status" aria-hidden="true"></span>
    </div>
    <div id="main"></div>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin_script.js"></script>
    <script src="/js/pdf.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
</body>
</html>
