<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
</head>

<body>
    <div class="tw-py-8 tw-px-4 tw-mx-auto tw-w-full lg:tw-py-16 lg:px-6">
        <div class="alert alert-danger tw-w-max tw-flex-nowrap tw-mx-auto tw-block tw-text-center" role="alert">
            <i class="fa-solid fa-2x tw-text-red-700 fa-circle-exclamation"></i>
            <div class="col tw-font-extrabold tw-py-2" ><%= errorHeader %></div>
            <div class="col tw-font-medium tw-py-1"><%= errorBody %></div>
        </div>
    </div>
    <% if (showErrorScript) { %>
        <script type="text/javascript">
            setTimeout(function() {
                window.location.href = '/en/language?id=<%= companyUUID %>'
            }, 5000);
        </script>
    <% } %>
    <script  src="/js/bootstrap.min.js"> </script>
</body>

</html>