<nav class="tw-w-full tw-z-20">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active activate"><span>HOTEL</span></li>
      <li class="active"><span>ROOM</span></li>
      <li class=""><span>RESTAURANT</span></li>
      <li class=""><span>TIME</span></li>
      <li class=""><span>CONFIRM</span></li>
    </ul>
  </nav>

  <div class="content tw-mt-0.5">

    <div id="alert-border-1" class=" tw-mt-2 tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-blue-800 tw-border-t-4 tw-border-b-2 tw-border-blue-300 tw-bg-blue-50 dark:tw-text-blue-400 dark:tw-bg-gray-800 dark:tw-border-blue-800" role="alert">
      <i class="fa-solid fa-circle-info"></i>
      <div id="alert-text" class="tw-ms-3 tw-text-sm tw-font-medium">
        <%= alertText %>
      </div>
    </div>

    

    <div id="keypad" style="height: 100vh;" class="tw-border tw-flex tw-items-start tw-justify-center">
      <table class="tw-table-fixed lg:tw-w-1/5  tw-w-4/6 tw-h-3/6">
        <tbody class="tw-border tw-bg-slate-800 tw-text-white tw-text-3xl tw-border-gray-500">
          <tr class="tw-border tw-border-gray-500 tw-w-full">
            <td colspan="3" class="tw-border tw-border-gray-500">
              <input readonly class="tw-w-full tw-h-full tw-text-gray-900 tw-text-center" id="code" />
            </td>
          </tr>
          <tr class="tw-border tw-border-white">
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(1)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">1</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(2)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg ">2</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(3)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">3</button>
            </td>
          </tr>
          <tr class="tw-border tw-border-white">
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(4)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">4</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(5)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">5</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(6)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">6</button>
            </td>
          </tr>
          <tr class="tw-border tw-border-white">
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(7)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">7</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(8)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">8</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(9)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">9</button>
            </td>
          </tr>
          <tr class="tw-border tw-border-white">
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleBackClick()" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">&lt;</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button onclick="handleButtonsClick(0)" type="submit" class="tw-w-full tw-h-full tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">0</button>
            </td>
            <td class="tw-border tw-border-white tw-aspect-square">
              <button id="go" type="submit" class="tw-w-full tw-h-full tw-bg-primary-800 tw-transform tw-transition tw-duration-50 active:tw-bg-blue-600 active:tw-scale-95 tw-shadow-lg">OK</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  <div class="tw-fixed tw-bottom-0 tw-w-full tw-p-4 tw-shadow-lg tw-z-10">
    <div id="selectError" style="display: none;" class="tw-flex tw-items-center tw-p-4 tw-mb-4 tw-text-red-800 tw-border-t-4 tw-border-b-2 tw-red-blue-300 tw-bg-red-200 dark:tw-text-red-400 dark:tw-bg-gray-800 dark:tw-red-blue-800" role="alert">
      <i class="fa-solid fa-circle-question"></i>
      <div id="errorAlert" class="tw-ms-3 tw-text-sm tw-font-medium"></div>
    </div>
    <div class="tw-w-full tw-flex tw-flex-nowrap tw-justify-around">
      <button onclick="window.location.href='/api/v1/cancelreservation';" class="tw-p-3 tw-bg-red-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonTextExit %></span> 
          <i class="fa-regular fa-circle-xmark"></i>
        </div>
      </button>
      <button style="display: none;" id="confirm" class=" tw-p-3 tw-bg-gray-800 tw-text-white tw-py-2 tw-rounded-lg hover:tw-bg-gray-700 focus:tw:outline-none focus:tw:ring-4 focus:tw:ring-gray-300 tw-flex tw-items-center tw-justify-center">
        <div id="notloader" class="tw-flex tw-items-center tw-justify-center">
          <span class="tw-mr-2"><%= buttonText %></span> 
          <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div style="display: none;" id="loader" class="spinner-border text-light" role="status"></div>
      </button>
    </div>
  </div>


  <div style="padding-top: 30vh;" id="verification_modal" class="modal tw-bg-black tw-bg-opacity-80" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div style="border: none;border-radius: 0;" class="modal-content">
        <div class="modal-body">
          <p class="tw-font-sans tw-font-bold tw-text-slate-800"></p>
          <div class="input-group">
            <input id="date_input" placeholder="YYYY-MM-DD" type="text" class="form-control" id="birthdayInput">
            <span class="input-group-text">
              <i class="fa-solid fa-calendar-days"></i>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">             
             <div id="loader_text_modal">
              <%= confirmButton %>
             </div> 
            <div style="display: none;" id="loader_modal" class="spinner-border spinner-border-sm  text-light" role="status"></div>
          </button>
        </div>
      </div>
    </div>
  </div>