<!DOCTYPE html>
<html lang="en" class="tw-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/flags/css/flag-icons.min.css">
    <link href="/css/all.min.css" rel="stylesheet">
</head>

<body>
  
  <nav class="tw-bg-gray-100 dark:tw-bg-black tw-w-full tw-z-20 tw-top-0 tw-start-0 tw-border-b-4 tw-border-red-900 dark:tw-border-red-900 container-fluid">
     <div class="row tw-items-center">
      <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center justify-content-md-start justify-content-lg-start py-2">
        <img src="<%= companyLogo %>" alt="Company Logo" class="h-8">
      </div>
      <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center justify-content-md-center justify-content-lg-center pt-2">
        <div><h6 class="tw-text-black dark:tw-text-white tw-font-extrabold tw-text-2xl"><%= companyName %></h6></div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center justify-content-md-end justify-content-lg-end py-2">
        <button id="theme-toggle" class="tw-px-4 tw-py-2 tw-bg-gray-800 tw-text-white tw-rounded tw-flex tw-items-center tw-justify-center">
          <i style="display: none;" id="sun-icon" class="fas fa-sun fa-2x"></i>
          <i style="display: none;" id="moon-icon" class="fas fa-moon fa-2x"></i>
        </button>
      </div>
     </div>
  </nav>

  <div class="tw-grid tw-grid-cols-2 sm:tw-grid-cols-3 lg:tw-grid-cols-4 tw-gap-6 tw-p-4 tw-place-content-center tw-place-items-center">
    <div id="en" class="card border-dark tw-text-black dark:tw-text-white tw-bg-gray-300 dark:tw-bg-black mb-3 tw-w-44">
      <div class="card-header text-center tw-text-1xl tw-font-extrabold">English</div>
      <div class="card-body m-1 p-0">
        <img src="/images/gb.svg" alt="UK Flag" class="tw-object-cover tw-rounded-t-lg" />
      </div>
    </div>
    <div id="ar" class="card border-dark tw-text-black dark:tw-text-white tw-bg-gray-200 dark:tw-bg-black mb-3 tw-w-44">
      <div class="card-header text-center tw-text-1xl tw-font-extrabold">العربيه</div>
      <div class="card-body m-1 p-0">
        <img src="/images/sa.svg" alt="SA Flag" class="tw-object-cover tw-rounded-t-lg" />
      </div>
    </div>
    <div id="de" class="card border-dark tw-text-black dark:tw-text-white tw-bg-gray-200 dark:tw-bg-black mb-3 tw-w-44">
      <div class="card-header text-center tw-text-1xl tw-font-extrabold">Deutsche</div>
      <div class="card-body m-1 p-0">
        <img src="/images/de.svg" alt="DE Flag" class="tw-object-cover tw-rounded-t-lg" />
      </div>
    </div>
    <div id="fr" class="card border-dark tw-text-black dark:tw-text-white tw-bg-gray-200 dark:tw-bg-black mb-3 tw-w-44">
      <div class="card-header text-center tw-text-1xl tw-font-extrabold">Français</div>
      <div class="card-body m-1 p-0">
        <img src="/images/fr.svg" alt="FR Flag" class="tw-object-cover tw-rounded-t-lg" />
      </div>
    </div>
    <div id="es" class="card border-dark tw-text-black dark:tw-text-white tw-bg-gray-200 dark:tw-bg-black mb-3 tw-w-44">
      <div class="card-header text-center tw-text-1xl tw-font-extrabold">Español</div>
      <div class="card-body m-1 p-0">
        <img src="/images/es.svg" alt="ES Flag" class="tw-object-cover tw-rounded-t-lg" />
      </div>
    </div>
  </div>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/language.js"></script>
</body>
</html>