/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html.tw-dark body {
  background-color: black; 
}

body{
  background-color: black; 
}

body::after {
  padding: 0;
  margin: 0;
  content: "";
  background-blend-mode: darken;
  background: url('/images/texture.png') repeat;
  background-size:auto;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
  height: 100vh;
}

html.tw-dark body::after {
  padding: 0;
  margin: 0;
  content: "";
  background-blend-mode: darken;
  background: url('/images/texture.png') repeat;
  background-size:auto;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
  height: 100vh;
}

.selected_hotel {
  border: 1px solid green;
  box-shadow: 0 0 10px green;
}
.selected_hotel #name_holder {
  background-color: green !important;
}

.selected_restaurant {
  border-color: green;
  box-shadow: 0 0 10px green;
}
.selected_restaurant #name_holder {
  background-color: green !important;
}

body {
    background-color: LightSteelBlue;
  }
  
  .load {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  h1 {
    text-align: center;
    margin-top: 15px;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .selected {
    background-color: rgba(255, 255, 0, 0.5);
}

.tableContainer {
    border-collapse: collapse;
}

.tableContainer table{
   height: 50vh;
   background-color: transparent;
}

.tableContainer table, .tableContainer th, .tableContainer td {
    border: 1px solid black;
    border-radius: 0;
    text-align: center;
}

.tableContainer input{
    font-size: 40px;
    text-align: center;
    font-family: 'SF-REGULAR';
    border: 1px solid black;
    border-radius: 0;
    outline: none;
    height: 100%;
}
.tableContainer input:focus{
    border: 1px solid black;
    border-radius: 0;
    outline: none;
    height: 100%;
}

.tableContainer button{
    border: none;
    border-radius: 0;
    height: 100%;
    font-family: 'SF-LIGHT';
    font-size: 2rem;
}
.tableContainer button:hover{
    background-color: transparent;
    color: black;
}
.tableContainer td{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.pen-marked {
    position: relative;
    opacity: 0.5;
}
.pen-marked::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: red; 
    transform: translateY(-50%); 
    pointer-events: none; 
}


ul.progress li.active {
    background-color: green;
    color: white;
}
ul.progress li {
    background-color: #e5e7eb;
}
html.tw-dark li {
  background-color: black;
}
ul.progress {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
html.tw-dark ul.progress li {
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 0.9rem;
  flex: auto;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}
ul.progress li {
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 0.9rem;
    flex: auto;
    color: #2d2d2d;
    font-family: sans-serif;
    font-weight: 600;
}
ul.progress li:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 4px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #e5e7eb;
    
}
html.tw-dark li:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 4px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent black;
  
}
ul.progress li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent black;  
}

html.tw-dark ul.progress li:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 0px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #e5e7eb;  
}

#lasto:before{
 content: none;
 padding: 0;
 margin: 0;
}
#lasto:after{
  content: none;
  padding: 0;
  margin: 0;
 }
#lasto{
  content: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;

}
ul.progress li.active:before {
    background-color: #e5e7eb;
}
html.tw-dark li.active:before {
  background-color: black;
}
ul.progress li.activate:before{
  background-color: green;
}
ul.progress li.active:after {
    border-color: transparent transparent transparent green;
}
  
  
  
  /* Hamburger */
  
  .hamburger {
    width: 220px;
    height: 165px;
  }
  
  .hamburger div:nth-child(1) {
    z-index: 9;
  }
  
  .hamburger div:nth-child(2) {
    z-index: 8;
    animation: animate-pickle-1 12s infinite;
  }
  
  .hamburger div:nth-child(3) {
    z-index: 7;
    animation: animate-pickle-2 12s infinite;
  }
  
  .hamburger div:nth-child(4) {  
    z-index: 5;
    animation: animate-tomato-1 12s infinite;
  }
  
  .hamburger div:nth-child(5) {
    z-index: 6;
    animation: animate-tomato-2 12s infinite;
  }
  
  .hamburger div:nth-child(6) {
    z-index: 4;
    animation: animate-cheese-1 12s infinite;
  }
  
  .hamburger div:nth-child(7) {
    z-index: 3;
    animation: animate-cheese-2 12s infinite;
  }
  
  .hamburger div:nth-child(8) {
    z-index: 2;
    animation: animate-beef 12s infinite;
  }
  
  .hamburger div:nth-child(9) {
    z-index: 1;
    animation: animate-bottom-bun 12s infinite;
  }
  
  
  
  /* Top Bun*/
  
  .hamburger .top-bun {
    position: absolute;
    width: 200px;
    height: 90px;
    border: 5px solid #a6593b;
    background-color: #e38f49;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    transform: translate(0px, -80px);
    animation: animate-top-bun 12s infinite;
  }
  
  .hamburger .top-bun:before, .hamburger .top-bun:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 5px;
    background-color: #f9cc92;
    border-radius: 5px;
  }
  
  .hamburger .top-bun:before {
    transform: translate(60px, 10px) rotate(60deg);
    box-shadow: 15px -35px #f9cc92;
  }
  
  .hamburger .top-bun:after {
    transform: translate(85px, 15px) rotate(-30deg);
    box-shadow: 35px 15px #f9cc92;
  }
  
  
  
  /* Pickles */
  
  .hamburger .pickle, .hamburger .pickle:before {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #608349;
    border: 5px solid #3f592a;
    border-radius: 50%;
  }
  
  .hamburger .pickle {
    overflow: hidden;
  }
  
  .hamburger .pickle:before {
    content: '';
    transform: translate(-5px, -14px);
  }
  
  .hamburger .pickle:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background-color: #3f592a;
    transform: translate(20px, -18px) rotate(40deg);
    box-shadow: 15px -5px #3f592a;
  }
  
  
  
  /* Tomatoes */
  
  .hamburger .tomato, .hamburger .tomato:before {
    position: absolute;
    width: 100px;
    height: 50px;
    border: 5px solid #9f3928;
    border-radius: 50%;
  }
  
  .hamburger .tomato {
    background-color: #be4335;
    overflow: hidden;
  } 
  
  .hamburger .tomato:before {
    content: '';
    background-color: #d75f44;
    transform: translate(-5px, -15px);
  }
  
  .hamburger .tomato div, .hamburger .tomato div:before {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 40%;
  }
  
  .hamburger .tomato div {
    border-left: 41px solid #9f3928;
    border-right: 41px solid #9f3928;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translate(9px, 9px);
  }
  
  .hamburger .tomato div:before {
    content: '';
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 13px solid #9f3928;
    border-bottom: 18px solid #9f3928;
    transform: translate(-25px, -15px);
  }
  
  .hamburger .tomato div:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 13px;
    border-radius: 50%;
    background-color: #d75f44;
    transform: translate(-8px, -7px);
  }
  
  
  
  /* Cheese */
  
  .hamburger .cheese {
    position: absolute;
    width:125px;
    height:50px;
    background-color: #eebd42;
    border: 5px solid #c0733a;
  }
  
  
  
  /* Beef */
  
  .hamburger .beef, .hamburger .beef:before {
    position: absolute;
    width: 210px;
    background-color: #834b34;
    border-radius:50%;
    border: 5px solid #6d3c27;
  }
  
  .hamburger .beef {
    height: 85px;
    overflow: hidden;
  }
  
  .hamburger .beef:before {
    content: '';
    height: 70px;
    transform: translate(-5px, -10px);
  }
  
  
  
  /* Bottom Bun */
  
  .hamburger .bottom-bun, .hamburger .bottom-bun:before {
    position: absolute;
    width: 200px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #a6593b;
  }
  
  .hamburger .bottom-bun {
    background-color: #e38f49;
    overflow: hidden;
  }
  
  .hamburger .bottom-bun:before {
    content: '';
    background-color: #f3c68b;
    transform: translate(-5px, -20px);
  }
  
  #pointerAbsorber {
    z-index: 9999; 
    pointer-events: all; 
    background-color: #2d2d2dd8;
  }
  
  /* Animations */
  
  @keyframes animate-top-bun {
    0% {
      transform: scale(0) translate(5px, 0px);
    }
    53% {
      transform: scale(0) translate(5px, 0px);
    }
    58% {
      transform: scale(1.05) translate(5px, 0px);
    }
    59% {
      transform: scale(1.0) translate(5px, 0px);
    }
    100% {
      transform: scale(1.0) translate(5px, 0px);
    }
  }
  
  @keyframes animate-pickle-2 {
    0% {
      transform: scale(0) translate(100px, 50px) rotate(15deg);
    }
    42% {
      transform: scale(0) translate(100px, 50px) rotate(15deg);
    }
    47% {
      transform: scale(1.05) translate(100px, 50px) rotate(15deg);
    }
    48% {
      transform: scale(1.0) translate(100px, 50px) rotate(15deg);
    }
    100% {
      transform: scale(1.0) translate(100px, 50px) rotate(15deg);
    }
  }
  
  @keyframes animate-pickle-1 {
    0% {
      transform: scale(0) translate(30px, 50px) rotate(-10deg);
    }
    36% {
      transform: scale(0) translate(30px, 50px) rotate(-10deg);
    }
    41% {
      transform: scale(1.05) translate(30px, 50px) rotate(-10deg);
    }
    42% {
      transform: scale(1.0) translate(30px, 50px) rotate(-10deg);
    }
    100% {
      transform: scale(1.0) translate(30px, 50px) rotate(-10deg);
    }
  }
  
  @keyframes animate-tomato-2 {
    0% {
      transform: scale(0) translate(20px, 50px) rotate(-10deg);
    }
    30% {
      transform: scale(0) translate(20px, 50px) rotate(-10deg);
    }
    35% {
      transform: scale(1.05) translate(20px, 50px) rotate(-10deg);
    }
    36% {
      transform: scale(1.0) translate(20px, 50px) rotate(-10deg);
    }
    100% {
      transform: scale(1.0) translate(20px, 50px) rotate(-10deg);
    }
  }
  
  @keyframes animate-tomato-1 {
    0% {
      transform: scale(0) translate(90px, 55px);
    }
    24% {
      transform: scale(0) translate(90px, 55px);
    }
    29% {
      transform: scale(1.05) translate(90px, 55px);
    }
    30% {
      transform: scale(1.0) translate(90px, 55px);
    }
    100% {
      transform: scale(1.0) translate(90px, 55px);
    }
  }
  
  @keyframes animate-cheese-1 {
    0% {
      transform: scale(0) skewx(-20deg) translate(50px, 55px);
    }
    18% {
      transform: scale(0) skewx(-20deg) translate(50px, 55px);
    }
    23% {
      transform: scale(1.05) skewx(-20deg) translate(50px, 55px);
    }
    24% {
      transform: scale(1.0) skewx(-20deg) translate(50px, 55px);
    }
    100% {
      transform: scale(1.0) skewx(-20deg) translate(50px, 55px);
    }
  }
  
  @keyframes animate-cheese-2 {
    0% {
      transform: scale(0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
    }
    12% {
      transform: scale(0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
    }
    17% {
      transform: scale(1.05) skewx(20deg) translate(40px, 65px) rotate(-10deg);
    }
    18% {
      transform: scale(1.0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
    }
    100% {
      transform: scale(1.0) skewx(20deg) translate(40px, 65px) rotate(-10deg);
    }
  }
  
  @keyframes animate-beef {
    0% {
      transform: scale(0) translate(0px, 55px);
    }
    6% {
      transform: scale(0) translate(0px, 55px);
    }
    11% {
      transform: scale(1.05) translate(0px, 55px);
    }
    12% {
      transform: scale(1.0) translate(0px, 55px);
    }
    100% {
      transform: scale(1.0) translate(0px, 55px);
    }
  }
  
  @keyframes animate-bottom-bun {
    0% {
      transform: scale(0) translate(5px, 85px);
    }
    5% {
      transform: scale(1.05) translate(5px, 85px);
    }
    6% {
      transform: scale(1.0) translate(5px, 85px);
    }
    100% {
      transform: scale(1.0) translate(5px, 85px);
    }
  }

