/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body::after {
    padding: 0;
    margin: 0;
    content: "";
    background: url('/images/texture.png') repeat;
    background-size:auto;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
    height: 100vh;
}