<div class="tw-grid tw-place-items-center md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-4">
    <div title="total number of individuals for upcoming reservations" class="alert alert-success text-center tw-w-full tw-min-w-max">
      <i class="fas tw-text-[3rem] fa-male"></i>
      <br>
      <h4>Total Reservations</h4>
      <br>
      <h1 id="totalres" class="text-center font-weight-bold ">---</h1>
    </div>
    <div id="toolipfull" title="" class="alert alert-danger text-center tw-w-full tw-min-w-max">
      <i class="fas tw-text-[3rem] fa-battery-full"></i>
      <br>
      <h4 class="text-center"> Full Restaurants  </h4>
      <br>
      <h1  id="fullres" class="text-center font-weight-bold">---</h1>             
    </div>
    <div title="based on total number of upcoming reservations" class="alert alert-primary text-center tw-w-full tw-min-w-max">
      <i class="fas tw-text-[3rem] fa-heart"></i> 
      <br>
      <h4 class="text-center"> Most Liked  </h4>
      <br>
      <h1  id="mostliked" class="text-center font-weight-bold">---</h1>
    </div>
</div>