<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
</head>

<body>
    <div id="pointerAbsorber" class="tw-fixed tw-h-full tw-w-full tw-flex tw-flex-1 tw-items-center tw-justify-center">
        <div class="loader tw-mx-auto pizza" >
            <div class="slice">
              <div class="relative">
              <div class="sauce"></div>
            <div class="cheese"></div>
            <div class="tomato"></div>
            <div class="olive"></div>
            <div class="olive two"></div>
              <div class="olive three"></div>
            <div class="capsicum"></div>
             <div class="capsicum two"></div>
            <div class="capsicum three"></div>
            <div class="tomato two"></div>
            <div class="tomato three"></div>
             <div class="tomato four"></div>
            </div>
            </div>
            <div class="slice two">
              <div class="relative">
              <div class="sauce"></div>
            <div class="cheese"></div>
            <div class="tomato"></div>
            <div class="olive"></div>
            <div class="olive two"></div>
              <div class="olive three"></div>
            <div class="capsicum"></div>
             <div class="capsicum two"></div>
            <div class="capsicum three"></div>
            <div class="tomato two"></div>
            <div class="tomato three"></div>
             <div class="tomato four"></div>
              </div>
            </div>
            <div class="slice three">
              <div class="relative">
              <div class="sauce"></div>
            <div class="cheese"></div>
            <div class="tomato"></div>
            <div class="olive"></div>
            <div class="olive two"></div>
              <div class="olive three"></div>
            <div class="capsicum"></div>
             <div class="capsicum two"></div>
            <div class="capsicum three"></div>
            <div class="tomato two"></div>
            <div class="tomato three"></div>
             <div class="tomato four"></div>
              </div>
            </div>
            <div class="slice four">
              <div class="relative">
              <div class="sauce"></div>
            <div class="cheese"></div>
            <div class="tomato"></div>
            <div class="olive"></div>
            <div class="olive two"></div>
              <div class="olive three"></div>
            <div class="capsicum"></div>
             <div class="capsicum two"></div>
            <div class="capsicum three"></div>
            <div class="tomato two"></div>
            <div class="tomato three"></div>
             <div class="tomato four"></div>
              </div>
            </div>
             <div class="slice five">
              <div class="relative">
              <div class="sauce"></div>
            <div class="cheese"></div>
            <div class="tomato"></div>
            <div class="olive"></div>
            <div class="olive two"></div>
              <div class="olive three"></div>
            <div class="capsicum"></div>
             <div class="capsicum two"></div>
            <div class="capsicum three"></div>
            <div class="tomato two"></div>
            <div class="tomato three"></div>
             <div class="tomato four"></div>
              </div>
            </div>
            <div class="slice six">
              <div class="relative">
              <div class="sauce"></div>
            <div class="cheese"></div>
            <div class="tomato"></div>
            <div class="olive"></div>
            <div class="olive two"></div>
              <div class="olive three"></div>
            <div class="capsicum"></div>
             <div class="capsicum two"></div>
            <div class="capsicum three"></div>
            <div class="tomato two"></div>
            <div class="tomato three"></div>
             <div class="tomato four"></div>
              </div>
            </div>
          </div>
    </div>
    <div id="main"></div>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main_script.js"></script>
    <script src="/js/pdf.min.js"></script>
    <script src="/js/bootstrap-table.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
</body>
</html>
