<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">

</head>
<body class="tw-bg-white dark:tw-bg-gray-900">
    <section >
        <div class="tw-py-8 tw-px-4 tw-mx-auto tw-max-w-screen-xl lg:tw-py-16 lg:px-6">
            <div class="tw-mx-auto tw-max-w-screen-sm tw-text-center">
                <h1 class="tw-mb-4 tw-text-7xl tw-tracking-tight tw-font-extrabold lg:tw-text-9xl tw-text-primary-600 dark:tw-text-primary-500">404</h1>
                <p class="tw-mb-4 tw-text-3xl tw-tracking-tight tw-font-bold tw-text-gray-900 md:tw-text-4xl dark:tw-text-white"> <%= errorHeader %></p>
                <p class="tw-mb-4 tw-text-lg tw-font-light tw-text-gray-500 dark:tw-text-gray-400"> <%= errorBody %> </p>
            </div>   
        </div>
    </section>
</body>
</html>