<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/confirm.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css">
</head>

<body>
  <div id="pointerAbsorber" class="tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-transparent" style="display: none;"></div>

  <nav class="tw-w-full tw-z-20">
    <ul style="height: 30px; text-align: center;" class="progress tw-w-full tw-flex tw-flex-nowrap">
      <li class="active activate"><span>HOTEL</span></li>
      <li class="active activate"><span>ROOM</span></li>
      <li class="active activate"><span>RESTAURANT</span></li>
      <li class="active activate"><span>TIME</span></li>
      <li class="active activate"><span>CONFIRM</span></li>
    </ul>
  </nav>


  <div class="tw-mx-auto tw-bg-gray-100 tw-w-full tw-inline-flex tw-justify-center tw-items-center">
    <div class="tw-inline-flex tw-flex-col tw-justify-center tw-items-center tw-text-center tw-py-2">
      <img src="<%= companyLogo %>" alt="Company Logo" class="h-8">
      <h6 class="tw-text-black tw-font-extrabold tw-text-2xl tw-bg-red-400"><%= companyName %></h6>
    </div>
    <div id="qrcode">

    </div>
  </div>

  
  <script>
    QRCode.toCanvas(document.getElementById('qrcode'),"<%= qrCOde %>", function (error) {
        if (error) console.error(error);
        console.log('QR code successfully generated!');
    });
  </script>

  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/confirm_script.js"></script>
  <script src="/js/qrcode.min.js"></script>

</body>
</html>